 body, html {
      height: 100%;
}

.main-container {
     height: calc(100vh - 56px); /* subtract navbar height */
}
.question-area-container{
      height: 100%;
}

.scrollable-list{
      max-height: 100%;
}
.question-container{
      height: 100%;
      width: 100%;
      min-height: 0;
}
.queue-container{
      height: 100%;
      width: 100%;
      min-height: 0;
}
.question-display-container{
      height:100%
}
.question-list-container{
      height: 100%;
      width: 100%;
}
#question-modal-container{
      height: 65vh;
      width: 100%;
}

.h-60{
      height:60%;
}

.h-80{
      height:80%;
}

.h-40{
      height:40%;
}

.h-20{
      height: 20%;
}

.fixed-queue{
      width: 600px;
}


@media (max-width: 991.98px) {
  .fixed-queue {
    width: 100%;
  }
}